---
Checks:     '
            -modernize-use-trailing-return-type,
            '
InheritParentConfig: true

#### Disabled checks and why: #####
#
# We didn't introduce this rule for project 0, so we're going to disable it solely for project 0.
# For future semesters, developers should remove this `.clang-tidy` file.
